<h1 class="header"> All Recipes </h1>

<ul> <% @recipes.each do |r| %>
     <li> <%= link_to r.name, recipe_path(r) %> </li>
    <%end%>
</ul>


<%= link_to "Add Recipe", new_recipe_path %><br>
<%= link_to "Main Menu", home_path %>