<h1 class="header"> Welcome to our Recipe Book </h1>

<h3>Menu:</h3>
<ol>
    <li><%= link_to "See all Recipes", recipes_path %></li>
    <li><%= link_to "See all Ingredients", ingredients_path %></li>
    <li><%= link_to "About Page", about_path %></li>
</ol>